{{routes/authenticated/sessions/details/certification-candidates-tab
  session=model
  certificationCandidates=model.certificationCandidates
  uploadCertificationCandidates=(action 'uploadCertificationCandidates')
}}
