.button {
  padding: 14px 20px;
  font-size: 1.6rem;
  font-family: $font-lato;
  font-weight: 500;
  letter-spacing: 0.019rem;
  text-align: center;
  border-radius: 5px;
  background-color: $pix-blue;
  color: $white;
  cursor: pointer;
  border: none;
  outline: none;
  transition: background-color 0.2s ease;

  &:hover, &:active, &:focus {
    background-color: $pix-blue-hover;
  }

  &--link {
    text-decoration: none;

    &:hover, &:active, &:focus {
      color: $white;
      text-decoration: none;
    }
  }

  &--uppercase {
    text-transform: uppercase;
    font-size: 1.3rem;
  }

  &--round {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
  }

  &--thin {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  &--extra-thin {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 1.5rem;
  }

  &--regular {
    width: 120px;
  }

  &--big {
    width: 180px;
  }

  &--extra-big {
    width: 280px;
  }

  &--grey {
    background: $mercury-grey;
    color: $grayish-grey;

    &:hover, &:active, &:focus {
      background-color: $alto-grey;
    }
  }

  &--green {
    background: $mountain-meadow;
    color: white;

    &:hover, &:active, &:focus {
      background-color: $jade;
    }
  }

  &--red {
    background: $pomegranate;
    color: $white;

    &:hover, &:active, &:focus {
      background-color: $monza;
    }
  }

  &--yellow {
    background: $pix-yellow;
    color: $nero;
    font-weight: $font-bold;
    font-size: 1.45rem;
    box-shadow: 0 2px 6px 0 rgba(12, 22, 58, 0.11), 0 1px 3px 0 rgba(0, 0, 0, 0.08);

    &:hover, &:active, &:focus {
      background-color: $pix-yellow-hover;
      color: $nero;
    }
  }

  &--dark-grey {
    background-color: $dove-gray;
    color: $white;
    font-weight: $font-bold;
    font-size: 1.5rem;
    &:hover, &:active, &:focus {
      background-color: $charcoal-grey;
    }
  }

  &--no-color {
    background-color: transparent;
    color: $nero;

    &:hover, &:active, &:focus {
      background-color: $alto-grey;
    }
  }
}

.icon-button {
  color: $dove-gray;
  padding: 4px 8px;
  border: none;
  font-size: 1.6rem;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  transition: 0.2s ease;
  border-radius: 50%;

  &:hover, &:active {
    background-color: $alto-grey;
  }

  &--link {
    text-decoration: none;
  }
}

.loader-in-button {
  display: flex;
  background: url('/images/loader-white.svg') no-repeat center;
  background-size: 50px;
}


.link {
  outline: none;
  border: none;
  background-color: inherit;
  color: $pix-blue;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
    color: $pix-blue-hover;
  }

  &--underline {
    text-decoration: underline;
  }

  &--grey {
    color: $dove-gray;
  }
}
