/*
  Colors name From:
    - http://www.colorhexa.com
    - http://chir.ag/projects/name-that-color
*/
$white: #ffffff;
$alabaster-grey: #FAFAFA;
$porcelain-grey: #f2f3f4;
$mercury-grey: #e6e6e6;
$alto-grey: #DDDDDD;
$silver-grey: #CCCCCC;
$dusty-grey: #979797;
$gray: #888888;
$raven-grey: #7d808a;
$jumbo-grey: #7e8086;
$boulder-grey: #777777;
$slate-grey: #6a6d76;
$dove-gray: #666666;
$tundora-grey: #4A4A4A;
$charcoal-grey: #3e4149;
$grayish-grey: #39393A;
$nero: #222222;
$black: #000000;

$periwinkle-blue: #c3d0ff;
$jordy-blue: #8D9EF7;
$vivid-blue: #0EBEFF;
$mariner-blue: #2861CF;
$dogder-blue: #388AFF;
$pix-blue: #3d68ff;
$pix-blue-hover: #3257D9;

$bright-yellow: #fedc41;
$pix-yellow: #ffcb00;
$pix-yellow-hover: #ffbe00;
$nugget-yellow: #CF9C24;
$dark-orange: #FF9400;
$pizazz-orange: #ff8800;
$pure-orange: #f45c00;

$vista-blue: #93CFB5;
$deyork-green: #78C182;
$mountain-meadow: #20BF55;
$caribbean-green: #13c9a0;
$jade: #0BA86D;
$eucalyptus: #228C5E;

$mandy-red: #E14956;
$vermilion: #FF4B00;
$pomegranate: #F52222;
$monza: #D60606;

$purple: #985FFF;

/*
  Area Colors
 */

$jaffa: #F1A141;
$emerald: #57C884;
$cerulean: #12A3FF;
$wild-strawberry: #FF3F94;
$butterfly-bush: #574DA6;
$jaffa-dark: #F24645;
$emerald-dark: #1A8C89;
$cerulean-dark: #3D68FF;
$wild-strawberry-dark: #AC008D;
$butterfly-bush-dark: #5E2563;

/*
  Gradients
 */
$pix-blue-to-purple-gradient: linear-gradient(to right, $dogder-blue, $purple);
$pix-yellow-to-orange-gradient: linear-gradient(180deg, $bright-yellow 0%, $pizazz-orange 100%);
$pix-yellow-to-jaffa-gradient: linear-gradient(180deg, $pix-yellow-hover 0%, $jaffa 100%);

/*  
Project colors
*/
$pix-blue: #F27F17;
$pix-secondary-color: #2BA3AB;
