.login-page {
  display: flex;
  flex-direction: column;
  width:100%;
  height:100%;
  background: $denim-gradient;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
  align-items: center;
  padding-top: 50px;
}
