@charset "utf-8";

@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

@import "globals/breakpoints";
@import "globals/colors";
@import "globals/fonts";
@import "globals/errors";
@import "globals/forms";
@import "globals/pages";
@import "globals/panels";
@import "globals/pix-modal";
@import "globals/tables";
@import "globals/texts";
@import "globals/titles";

@import "components/login-form";
@import "components/campaign-list";
@import "components/campaign-item";
@import "components/circle-chart";
@import "components/current-organization";
@import "components/pagination-control";
@import "components/progression-gauge";
@import "components/sidebar-menu";

@import "pages/login";
@import "pages/authenticated";
@import "pages/authenticated/campaigns";
@import "pages/authenticated/campaigns/details";
@import "pages/authenticated/campaigns/new";
@import "pages/authenticated/campaigns/new-item";
@import "pages/authenticated/campaigns/list";
@import "pages/authenticated/campaigns/no-campaign-panel";
@import "pages/authenticated/campaigns/details/parameters";
@import "pages/authenticated/campaigns/details/participants";
@import "pages/authenticated/campaigns/details/participants/participant-results";
@import "pages/authenticated/team";
@import "pages/authenticated/team/list";
@import "pages/authenticated/team/new";
@import "pages/authenticated/terms-of-service";
@import "pages/authenticated/students";
@import "pages/authenticated/students/list";

body, html {
  margin: 0;
  height: 100%;
  font-family: $roboto;
  font-size: 100%;
  background-color: $porcelain;
}

body > .ember-view {
  height: 100%;
}
