<h1 class="page__title page-title">Modification d'une session de certification</h1>

<form {{action updateSession session on='submit'}} class="session-form">

  <div class="session-form__field">
    <label for="session-address" class="label">Nom du site</label>
    <Input
      @id="session-address"
      @name="session-address"
      @type="text"
      @maxlength="255"
      @class="input"
      @value={{session.address}}
    />
    {{#each session.errors.address as |error|}}
      <div class='session-form__error error-message'>
        {{error.message}}
      </div>
    {{/each}}
  </div>

  <div class="session-form__field">
    <label for="session-room" class="label">Nom de la salle</label>
    <Input
      @id="session-room"
      @name="session-room"
      @type="text"
      @maxlength="255"
      @class="input"
      @value={{session.room}}
    />
    {{#each session.errors.room as |error|}}
      <div class='session-form__error error-message'>
        {{error.message}}
      </div>
    {{/each}}
  </div>

  <div class="session-form__field">
    <label for="session-date" class="label">Date de début</label>
    {{ember-flatpickr id='session-date'
                      onChange=(action onDatePicked)
                      dateFormat='d/m/Y'
                      locale='fr'
                      name='session-date'
                      class='input input--small'
                      date=(readonly session.date)
    }}
    {{#each session.errors.date as |error|}}
      <div class='session-form__error error-message'>
        {{error.message}}
      </div>
    {{/each}}
  </div>

  <div class="session-form__field">
    <label for="session-time" class="label">Heure de début (heure locale)</label>
    {{ember-flatpickr id='session-time'
                      onChange=(action onTimePicked)
                      onClose=(action onTimePicked)
                      enableTime=true
                      noCalendar=true
                      dateFormat='H:i'
                      time_24hr=true
                      enableSeconds=false
                      name='session-time'
                      class='input input--small'
                      date=(readonly session.time)
    }}
    {{#each session.errors.time as |error|}}
      <div class='session-form__error error-message'>
        {{error.message}}
      </div>
    {{/each}}
  </div>

  <div class="session-form__field">
    <label for="session-examiner" class="label">Surveillant(s)</label>
    <Input
      @id="session-examiner"
      @name="session-examiner"
      @type="text"
      @maxlength="255"
      @class="input"
      @value={{session.examiner}}
    />
    {{#each session.errors.examiner as |error|}}
      <div class='session-form__error error-message'>
        {{error.message}}
      </div>
    {{/each}}
  </div>

  <div class="session-form__field">
    <label for="session-description" class="label">Observations (optionnel)</label>
    {{textarea id='session-description'
               name='session-description'
               maxlength='350'
               rows=8
               value=session.description
               class="textarea"
    }}
  </div>

  <div class="session-form__validation">
    <button class="button button--no-color" data-action="cancel" {{action cancel session}}>Annuler</button>
    <button class="button" type="submit">Modifier la session</button>
  </div>

</form>
