@charset 'utf-8';

/* 3rd-party */
@import 'ember-burger-menu/variables';
@import 'ember-burger-menu/structure';
@import 'ember-burger-menu/animations/push';
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
/* globals */
@import 'globals/palette';
@import 'globals/fonts';
@import 'globals/breakpoints';
@import 'globals/alert';
@import 'globals/dimension';
@import 'globals/loading';
@import 'globals/redesign-inputs';
@import 'globals/pix-modal';
@import 'globals/buttons';
@import 'globals/tables';
@import 'globals/text';
/* components */
@import 'components/background-banner';
@import 'components/assessment-banner';
@import 'components/_certification-starter';
@import 'components/certification-banner';
@import 'components/certification-result';
@import 'components/certifications-list';
@import 'components/certifications-list-item';
@import 'components/challenge-actions';
@import 'components/challenge-item';
@import 'components/challenge-response';
@import 'components/challenge-statement';
@import 'components/checkpoint';
@import 'components/circle-chart';
@import 'components/comparison-window';
@import 'components/competence-card';
@import 'components/corner-ribbon';
@import 'components/feedback-panel';
@import 'components/form-textfield';
@import 'components/hexagon-score';
@import 'components/learning-more-tutorial-panel';
@import 'components/modal-mobile';
@import 'components/navbar-burger-menu';
@import 'components/navbar-desktop-menu';
@import 'components/navbar-desktop-header';
@import 'components/navbar-header';
@import 'components/navbar-mobile-header';
@import 'components/no-certification-panel';
@import 'components/password-reset-demand-form';
@import 'components/pix-logo';
@import 'components/progression-gauge';
@import 'components/qcm-solution-panel';
@import 'components/qcu-solution-panel';
@import 'components/qroc-solution-panel';
@import 'components/qroc-solution-panel';
@import 'components/qrocm-proposals';
@import 'components/qrocm-solution-panel';
@import 'components/reset-password-form';
@import 'components/resume-campaign-banner';
@import 'components/result-item';
@import 'components/rounded-panel';
@import 'components/scorecard-details';
@import 'components/signup-form';
@import 'components/snapshot-list';
@import 'components/timeout-jauge';
@import 'components/tutorial-item';
@import 'components/tutorial-panel';
@import 'components/user-certifications-detail-area';
@import 'components/user-certifications-detail-competence';
@import 'components/user-certifications-detail-header';
@import 'components/user-certifications-detail-profile';
@import 'components/user-certifications-detail-result';
@import 'components/user-logged-menu';
@import 'components/warning-timing-page';

/* pages */
@import 'pages/assessment-challenge';
@import 'pages/assessment-results';
@import 'pages/board';
@import 'pages/campaign-landing-page';
@import 'pages/campaign-tutorial';
@import 'pages/certification-course-error';
@import 'pages/certification-start';
@import 'pages/competence-results';
@import 'pages/course-preview';
@import 'pages/error';
@import 'pages/fill-in-campaign-code';
@import 'pages/fill-in-id-pix';
@import 'pages/not-connected';
@import 'pages/profile';
@import 'pages/sign-form';
@import 'pages/skill-review';
@import 'pages/user-certifications';
@import 'pages/user-certifications-get';

body {
  font-family: $font-lato;
  background-color: $porcelain-grey;
}

input[type='radio'] {
  margin: 0 5px 0 0;
}
