<div class="background-banner-wrapper assessment-challenge">

  <div class="assessment-challenge__assessment-banner">
    {{#if model.assessment.isCertification}}
      {{certification-banner certificationNumber=model.assessment.certificationNumber}}
    {{else}}
      {{assessment-banner title=model.assessment.title checkpoint=false displayHomeLink=true}}
    {{/if}}
  </div>

  <div class="assessment-challenge__content">
    {{#if model.assessment.showProgressBar}}
      <div class="assessment-challenge__progress-bar">
        {{progress-bar assessment=model.assessment}}
      </div>
    {{/if}}

    {{component (get-challenge-component-class model.challenge)
                challenge=model.challenge
                assessment=model.assessment
                answer=model.answer
                answerValidated=(route-action "saveAnswerAndNavigate")}}
  </div>
</div>
