{{#burger-menu animation="push" translucentOverlay=true as |burger|}}
  {{#burger.outlet}}
    {{navbar-header class="navbar-header--white" burger=burger}}

    <div class="background-banner-wrapper">
      <div class="background-banner"></div>

      <div class="fill-in-campaign-code__container rounded-panel rounded-panel--strong rounded-panel--over-background-banner">
        <h1 class="fill-in-campaign-code__title rounded-panel-title">
          Vous souhaitez participer<br>à un parcours de test
        </h1>

        <div class="fill-in-campaign-code__instruction">Saisissez le code du parcours</div>
        <form class="fill-in-campaign-code__form" autocomplete="off">

          <div class="fill-in-campaign-code__form-field">
            {{input required type="text" id="campaign-code" value=campaignCode maxlength="9" key-down=(action 'clearErrorMessage')}}
          </div>

          {{#if errorMessage}}
            <div class="fill-in-campaign-code__error" aria-live="polite">
              {{ errorMessage }}
            </div>
          {{/if}}

          <div class="fill-in-campaign-code__actions">
            <button type="submit" class="button button--extra-big fill-in-campaign-code__start-button" {{action
              'startCampaign'}}>
              Commencer mon parcours
            </button>
          </div>
        </form>
      </div>
    </div>
  {{/burger.outlet}}
{{/burger-menu}}
