<div class="campaign-tutorial">
  <div class="rounded-panel rounded-panel--strong campaign-tutorial__container">

    <div class="campaign-tutorial__title">
      {{model.title}}
    </div>

    <div class="campaign-tutorial__explanation-icon">
      <img alt="" src="{{rootURL}}/images/tutorial-campaign/{{model.icon}}">
    </div>


    <div class="campaign-tutorial__explanation-text"><p>{{model.explanation}}</p></div>

    <div class="campaign-tutorial__paging">
      {{#each model.paging as |page-class|}}
        <div class="dot {{page-class}}"> </div>
      {{/each}}

    </div>
    <div class="campaign-tutorial__next-button">
    {{#if model.showNextButton}}
      <button type="submit" class="button button--big campaign-tutorial__next-page-tutorial" {{action "next"}}>Suivant</button>

      <button {{action "submit"}} class="button button--big button--no-color campaign-tutorial__ignore-button">Ignorer</button>
    {{else}}
      <button type="submit" class="button button--extra-big campaign-tutorial__start-campaign-button" {{action "submit"}}>Démarrer mon parcours</button>
    {{/if}}
    </div>
  </div>
</div>
