
{{notification-container position="bottom-right"}}

<div class="panel panel--strong-shadow session-details-container">
    <div class="session-details-row">
        <div class="session-details-content session-details-content--multiple">
            <h4 class="label-text session-details-content__label">ID session</h4>
            <span class="content-text session-details-content__text">{{session.id}}</span>
        </div>

        <div class="session-details-content session-details-content--multiple">
            <h4 class="label-text session-details-content__label">Nom du site</h4>
            <span class="content-text session-details-content__text">{{session.address}}</span>
        </div>

        <div class="session-details-content session-details-content--multiple">
            <h4 class="label-text session-details-content__label">Salle</h4>
            <span class="content-text session-details-content__text">{{session.room}}</span>
        </div>

        <div class="session-details-content session-details-content--multiple">
            <h4 class="label-text session-details-content__label">Surveillant(s)</h4>
            <span class="content-text session-details-content__text">{{session.examiner}}</span>
        </div>

        <div class="session-details-content session-details-content--multiple">
            <h4 class="label-text session-details-content__label">Code d'accès</h4>
            <div class="session-details-content__clipboard">
                <span class="content-text content-text--bold session-details-content__text">{{session.accessCode}}</span>

              {{#if (is-clipboard-supported)}}
                  <div class="tooltip">
                      <span class="tooltip__text tooltip-text session-details-content__tooltip-text">{{this.tooltipText}}</span>
                    {{#copy-button clipboardText=session.accessCode
                                   success=(action 'clipboardSuccess')
                                   mouseLeave=(action 'clipboardOut')
                                   classNames="icon-button session-details-content__clipboard-button"}}
                      {{fa-icon 'copy' prefix='far'}}
                    {{/copy-button}}
                  </div>
              {{/if}}
            </div>
        </div>
    </div>

    <div class="session-details-row">
        <div class="session-details-content session-details-content--single">
            <h4 class="label-text session-details-content__label">Observations</h4>
            <p class="content-text session-details-content__text">
              {{session.description}}
            </p>
        </div>
    </div>

    <div class="session-details-row">
        <div class="session-details-content">
          {{#link-to "authenticated.sessions.update" session.id
                     class="button button--regular button--link session-details-content__update-button"}}
              Modifier
          {{/link-to}}
        </div>
    </div>

</div>