.list-students-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;

  &__header {
    display: flex;
    margin: 1em;
  }

  &__import-students-button {
    margin-top: 20px;
    margin-left: auto;
  }
}
