<div class="app">

  <aside class="app__sidebar sidebar">
    <header class="sidebar__logo logo sidebar--padding-left">
      {{#link-to "authenticated.campaigns"}}
        <img class="logo__image" src="{{rootUrl}}/pix-orga.svg">
      {{/link-to}}
    </header>

    <div class="sidebar__current-organization sidebar--padding-left sidebar--padding-right">
      {{current-organization organization=model}}

    </div>

    <div class="">
      {{sidebar-menu}}
    </div>
  </aside>

  <div class="app__main-content main-content">

    <div class="main-content__topbar topbar">
      <div class="topbar__user-identification">{{user-identification}}</div>
      <div class="topbar__disconnect">{{#link-to "logout"}}Se déconnecter{{/link-to}}</div>
    </div>

    <div class="main-content__body page">
      {{outlet}}
    </div>

  </div>

</div>