<h2 class="certification-start-page__title">Lancement du test de certification</h2>

<p class="certification-course-page__order">
  Un code d'accès va vous être communiqué par le responsable de la session.
</p>

<div class="certification-course-page__session-code-input">
  {{input id="session-code" type="text" value=accessCode placeholder="Code d'accès"}}
  {{#if errorMessage}}
    <div class="certification-course-page__errors">{{errorMessage}}</div>
  {{/if}}
</div>

<div class="certification-course-page__cgu">
  <p>
    En cliquant sur "Lancer le test", j’accepte que mes données d’identité, le numéro de certification et les
    circonstances de la passation telles que renseignées par le surveillant soient communiquées à Pix. Pix les utilisera
    lors de la délibération du jury pour produire et archiver mes résultats et pour éditer mon certificat. Si cette
    certification m’a été prescrite par une organisation, j’accepte que Pix lui communique mes résultats.
  </p>
  <p>
    Conformément à la loi « informatique et libertés », vous pouvez exercer votre droit d'accès aux données vous
    concernant et les faire rectifier en envoyant un mail à <a href="mailto:dpo@pix.fr">dpo@pix.fr</a>.
  </p>
</div>

<div class="certification-course-page__field-button">
  {{#if isLoading}}
    <button class="button button--big button--thin certification-course-page__submit_button"><span
      class="loader-in-button">&nbsp;</span>
    </button>
  {{else}}
    <button type="submit" class="button button--big button--thin button--uppercase certification-course-page__submit_button" {{ action "submit" }}>
      Lancer le test
    </button>
  {{/if}}
</div>
