{{#pix-modal class="comparison-window-modal" onClose=closeComparisonWindow}}

  <div class="pix-modal__close-link">
    <a href="#" {{action (action closeComparisonWindow)}}>Fermer
      <img src="/images/icon-close-modal.svg" alt="Fermer la fenêtre modale" width="24" height="24">
    </a>
  </div>

  <div class="pix-modal__container comparison-window">

    <div class="pix-modal-header comparison-window-header">
      <div class="comparison-window__title">
        <div data-toggle="tooltip" data-placement="top" title="{{resultItem.tooltip}}">
          <img class="comparison-window__result-icon comparison-window__result-icon--{{resultItem.status}}"
               src={{resultItemIcon}} alt="">
        </div>
      </div>
      <div class="comparison-window__title-text">{{resultItem.title}}</div>
    </div>

    <div class="comparison-window--content">

      <div class="comparison-window--body">

        <div class="rounded-panel comparison-window__instruction">
          <div class="rounded-panel__row ">
            {{markdown-to-html class="challenge-statement__instruction" markdown=answer.challenge.instruction}}
          </div>

          {{#if answer.challenge.illustrationUrl}}
            <div class="rounded-panel__row challenge-statement__illustration-section">
              <img class="challenge-statement__illustration" src="{{ answer.challenge.illustrationUrl }}"
                   alt="Illustration de l'épreuve">
            </div>
          {{/if}}
        </div>
        <div class="comparison-window__corrected-answers">
          {{#if isAssessmentChallengeTypeQcm}}
            {{qcm-solution-panel challenge=answer.challenge answer=answer solution=answer.correction.solution}}
          {{/if}}

          {{#if isAssessmentChallengeTypeQcu}}
            {{qcu-solution-panel challenge=answer.challenge answer=answer solution=answer.correction.solution}}
          {{/if}}

          {{#if isAssessmentChallengeTypeQroc}}
            <div class="comparison-window__corrected-answers--qroc">
              {{qroc-solution-panel answer=answer solution=answer.correction.solution}}
            </div>
          {{/if}}

          {{#if isAssessmentChallengeTypeQrocmInd}}
            <div class="comparison-window__corrected-answers--qrocm">
              {{qrocm-ind-solution-panel answer=answer solution=answer.correction.solution challenge=answer.challenge}}
            </div>
          {{/if}}

        {{#if isAssessmentChallengeTypeQrocmInd}}
          <div class="comparison-window__corrected-answers--qrocm">
            {{qrocm-ind-solution-panel answer=answer solution=correction.solution challenge=answer.challenge}}
          </div>
        {{/if}}
        {{#if isAssessmentChallengeTypeQrfcm}}
          <div class="comparison-window__corrected-answers--qrocm">
            {{qrfcm-solution-panel answer=answer solution=correction.solution challenge=answer.challenge}}
          </div>
        {{/if}}
          {{#if isAssessmentChallengeTypeQrocmDep}}
            <div class="comparison-window__corrected-answers--qrocm">
              {{qrocm-dep-solution-panel answer=answer solution=answer.correction.solution challenge=answer.challenge}}
            </div>
          {{/if}}
        </div>

        {{#if answer.isResultNotOk}}
          {{#if answer.correction.noHintsNorTutorialsAtAll }}
            <div class="comparison-windows__default-message-container">
              <div class="comparison-windows__default-message-picto-container">
                <img src="{{rootURL}}/images/comparison-window/icon-tuto.svg"
                    alt=""
                    class="comparison-windows__default-message-picto">
              </div>
              <div class="comparison-windows__default-message-title">Bientôt ici des tutoriels pour vous aider à réussir ce type
                d'épreuves !!
              </div>
            </div>
          {{else}}
            {{tutorial-panel hint=answer.correction.hint tutorials=answer.correction.tutorials}}
          {{/if}}
        {{/if}}
        {{learning-more-panel learningMoreTutorials=answer.correction.learningMoreTutorials}}
      </div>

      <div class="pix-modal-footer">
        <div class="comparison-window__feedback-panel">
          {{feedback-panel assessment=answer.assessment challenge=answer.challenge context="comparison-window" answer=answer isFormOpened=true}}
        </div>
      </div>
    </div>
  </div>
{{/pix-modal}}
