<div class="navbar-burger-menu navbar-burger-menu__user-info">
  {{#if currentUser.user}}
    <div class="navbar-burger-menu-user-info__item">
      <p class="navbar-burger-menu-user-info-item__name">
        {{currentUser.user.fullName}}
      </p>
      <p class="navbar-burger-menu-user-info-item__email">
        {{currentUser.user.email}}
      </p>
    </div>
  {{/if}}

  {{#link-to 'user-certifications' class="navbar-burger-menu-user-info__item"}}
    Mes certifications
  {{/link-to}}

  {{#link-to 'logout' class="navbar-burger-menu-user-info__item navbar-burger-menu-user-info-item__logout"}}
    Se déconnecter
  {{/link-to}}
</div>

{{#unless isInRouteWithoutLinksInHeader}}
  <div class="navbar-burger-menu navbar-burger-menu__navigation">
    {{#link-to 'profile' class="navbar-burger-menu-navigation__item"}}
      Profil
    {{/link-to}}

    {{#link-to 'campaigns' class="navbar-burger-menu-navigation__item"}}
      Parcours
    {{/link-to}}

    {{#link-to 'certifications' class="navbar-burger-menu-navigation__item"}}
      Certification
    {{/link-to}}

    <a href="https://pix.fr/aide" target="_blank" class="navbar-burger-menu-navigation__item">
      Aide
    </a>
  </div>
{{/unless}}
