{{#link-to "index" class="pix-logo__link" title="Lien vers la page d'accueil de écri+test"}}
  <img class="pix-logo__image" src="http://ecriplus.fr/wp-content/uploads/2018/10/logoEcriplus-300x152.png" alt="Pix">
{{/link-to}}
