<div class="qrfcm-solution-panel rounded-panel">
  <div class="rounded-panel__row ">
    <div>
      
      {{#each blocks as |block|}}
            {{#if block.text}}
              {{block.text}}
            {{else if block.good}}
              <img class="correction-qrfcm__solution-img" src="/images/comparison-window/icon-arrow-right.svg" alt="">
              <span class="correction-qrfcm__answer-input correction-qroc-box__input-right-answer">{{block.good}}</span>
            {{else if block.bad}}
              <img class="correction-qrfcm__solution-img" src="/images/puce-rouge.svg" alt="">
              <span class="correction-qrfcm__answer-input correction-qroc-box__input-wrong-answer" style="font-weight: 700">{{block.bad}}</span>
              <span class="correction-qrfcm__answer-input correction-qroc-box__input-right-answer" style="color:red;">{{block.correctAnswer}}</span>
            {{/if}}
      {{/each}}
    </div>

  </div>
</div>

