<div class="sign-form__container">

  <a href={{urlHome}} class="pix-logo__link" title="Lien vers la page d'accueil de Pix">
    <img class="pix-logo__image" src="{{rootURL}}/images/pix-logo.svg" alt="Pix">
  </a>

  <div class="sign-form__header">
    <h1 class="sign-form-title">Connectez-vous</h1>
    <div class="sign-form-header__subtitle">
      <span class="sign-form-header-subtitle sign-form-instruction">Vous n'avez pas encore de compte Pix ?</span>
      {{#link-to 'inscription' class="link sign-form-link"}} Créez un compte{{/link-to}}
    </div>
  </div>

  {{#if displayErrorMessage}}
    <div class="sign-form__notification-message sign-form__notification-message--error" aria-live="polite">
      L'adresse email et/ou le mot de passe saisis sont incorrects
    </div>
  {{/if}}

  <form {{action "signin" on="submit"}} class="sign-form__body">

    <div class="sign-form-body__input">
      {{form-textfield
        label="Adresse email"
        textfieldName="email"
        validationStatus="default"
        inputBindingValue=email
        autocomplete="username"}}
    </div>

    <div class="sign-form-body__input">
      {{form-textfield
        label="Mot de passe"
        textfieldName="password"
        validationStatus="default"
        inputBindingValue=password
        autocomplete="current-password"}}
    </div>

    {{#link-to 'password-reset-demand' class="link link--grey sign-form-link sign-form-body__forgotten-password-link"}}
      Mot de passe oublié ?{{/link-to}}

    <div class="sign-form-body__bottom-button">
      <button type="submit" class="button button--uppercase button--thin button--round button--big">
        Je me connecte
      </button>
    </div>
  </form>
</div>
