.campaign-details-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.campaign-details{
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
  }
}

.campaign-details-header {
  &__title {
    display: flex;
    align-items: center;
  }

  &__report {
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    min-width: 345px;
  }
}

.campaign-details-header-report {
  &__info {
    padding-right: 15px;
    margin-right: 15px;
  }
}

.campaign-details-controls {
  &__navbar-tabs {
    display: flex;
  }

  &__export-button {
    display: flex;
    align-items: center;
    padding-right: 10px;
  }
}
