<form {{action createCampaign campaign on='submit'}} class="form">

  <div class="form__field">
    <label for="campaign-name" class="label">Nom de la campagne</label>
    <Input
      @id="campaign-name"
      @name="campaign-name"
      @type="text"
      @class="input"
      @maxlength="255"
      @value={{campaign.name}}
    />

    {{#each campaign.errors.name as |error|}}
      <div class='form__error error-message'>
        {{error.message}}
      </div>
    {{/each}}
  </div>

  <div class="form__field">
    <label for="campaign-target-profile" class="label">Que souhaitez-vous tester ?</label>
    <select class="select" id="campaign-target-profile" onchange={{action 'setSelectedTargetProfile' value='target.value'}}>
      <option value="" disabled="disabled" selected></option>
      {{#each targetProfiles as |targetProfile|}}
        <option value="{{targetProfile.id}}">{{targetProfile.name}}</option>
      {{/each}}
    </select>
    {{#each campaign.errors.targetProfile as |error|}}
      <div class='form__error error-message'>
        {{error.message}}
      </div>
    {{/each}}
  </div>

  <div class="form__field">
    <div class="campaign-form_id-pix">
      <div class="label">
        <label for="id-pix-wanted-or-not">Souhaitez-vous demander un identifiant ?</label>
      </div>
      <div id="doNotAskLabelIdPix" class="form__sub-label" onclick={{action "doNotAskLabelIdPix"}}>
        <label>
          <input type="radio" checked={{notWantIdPix}} name="radio" class="radio-button">
          <span class="radio-button-span"></span>Non
        </label>
      </div>
      <div id="askLabelIdPix" class="form__sub-label" onclick={{action "askLabelIdPix"}}>
        <label>
          <input type="radio" checked={{wantIdPix}} name="radio" class="radio-button">
          <span class="radio-button-span"></span>Oui
        </label>
      </div>
    </div>

    {{#if wantIdPix}}

      <div class="form__field">
        <Input
          @id="id-pix-label"
          @name="id-pix-label"
          @type="text"
          @class="input"
          @maxlength="255"
          @label="Libellé de l’identifiant"
          @aria-required="true"
          @placeholder="Libellé de l’identifiant"
          @value={{campaign.idPixLabel}}
        />
        {{#each campaign.errors.idPixLabel as |error|}}
          <div class='form__error error-message'>
            {{error.message}}
          </div>
        {{/each}}
        <div class="form__information help-text">
          Exemple: "Numéro de l'étudiant" ou "Adresse mail professionnelle" *
        </div>

      </div>
    {{/if}}
  </div>

  <div class="form__field">
    <label for="campaign-title" class="label">Titre du parcours</label>
    <Input
      @id="campaign-title"
      @name="campaign-title"
      @type="text"
      @class="input"
      @maxlength="50"
      @value={{campaign.title}}
    />
  </div>

  <div class="form__field">
    <label for="custom-landing-page-text" class="label">Texte de la page d'accueil</label>
    {{textarea id='custom-landing-page-text'
            name='custom-landing-page-text'
            maxlength='350'
            rows=8
            value=campaign.customLandingPageText
            class="textarea"
    }}
  </div>

  <div class="form__validation">
    <div class="button button--no-color" {{action cancel}}>Annuler</div>
    <button class="button" type="submit">Créer la campagne</button>
  </div>

 {{#if wantIdPix}}
   <div class="new-item-form__gdpr-information help-text">
    * En vertu de la loi Informatique et libertés, et en tant que responsable de traitement, soyez attentifs à ne pas demander de donnée particulièrement identifiante ou signifiante si ce n’est pas absolument indispensable. Le numéro de sécurité sociale (NIR) est à proscrire ainsi que toute donnée sensible.
   </div>
 {{/if}}

</form>
