<div class="update-campaign-page">
  <h1 class="page__title page-title">Modification d'une campagne</h1>
  <h2 class="page-sub-title">{{campaign.name}}</h2>

  <form {{action update campaign on='submit'}} class="campaign-creation-form">
    <div class="form__field">
      <label for="campaign-title" class="label">Titre du parcours</label>
      <Input
        @id="campaign-title"
        @name="campaign-title"
        @type="text"
        @class="input"
        @maxlength="50"
        @value={{campaign.title}}
      />
    </div>

    <div class="form__field">
      <label for="campaign-custom-landing-page-text" class="label">Texte de la page d'accueil</label>
      {{textarea id='campaign-custom-landing-page-text'
              name='campaign-custom-landing-page-text'
              maxlength='350'
              rows=8
              value=campaign.customLandingPageText
              class="textarea"
      }}
    </div>

    <div class="form__validation">
      <div class="button button--no-color" {{action cancel campaign.id}}>Annuler</div>
      <button class="button" type="submit">Modifier</button>
    </div>
  </form>
</div>
