@charset "utf-8";

@import "globals/breakpoints";
@import "globals/colors";
@import "globals/errors";
@import "globals/fonts";
@import "globals/forms";
@import "globals/pages";
@import "globals/panels";
@import "globals/tables";
@import "globals/texts";
@import "globals/titles";

@import "pages/login";
@import "pages/authenticated";
@import "pages/authenticated/sessions";
@import "pages/authenticated/sessions/details";
@import "pages/authenticated/sessions/list-items";
@import "pages/authenticated/sessions/no-session-panel";
@import "pages/authenticated/sessions/details/certification-candidates-tab";
@import "pages/authenticated/terms-of-service";

@import "components/login-form";

body, html{
  margin: 0;
  height: 100%;
  font-family: $roboto;
  background-color: $porcelain;
}

body > .ember-view {
  height: 100%;
}
