.session-details-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.session-details__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
}

.session-details-header {
  &__title {
    display: flex;
    align-items: center;
  }

  &__datetime {
    display: flex;
    align-items: center;
    padding-right: 10px;
  }
}

.session-details-header-datetime {
  &__date {
    padding-right: 40px;
    margin-right: 40px;
    border-right: 1px solid $alto;
  }
}

.session-details-container {
  display: flex;
  flex-direction: column;
}

.session-details-row {
  display: flex;
  flex-direction: row;

  &:not(:last-child) {
    border-bottom: 1px solid $alto;
  }
}

.session-details-content {
  display: flex;
  flex-direction: column;
  padding: 22px 30px;

  &--multiple {
    &:first-child {
      width: 10%;
    }

    &:nth-child(2) {
      width: 25%;
    }

    &:nth-child(3) {
      width: 25%;
    }

    &:nth-child(4) {
      width: 25%;
    }

    &:last-child {
      width: 10%;
    }
  }

  &--single {
    &:first-child {
      width: 55%;
    }
  }

  &:not(:last-child) {
    border-right: 1px solid $alto;
  }

  &__label {
    margin: 0 0 10px;
  }

  &__text {
    margin: 0;
  }

  &__clipboard {
    display: flex;
    flex-direction: row;
  }

  &__return-button {
    margin-right: 6px;
  }

  &__clipboard-button {
    margin-top: -10px;
    margin-left: 6px;
  }

  &__tooltip-text {
    margin-bottom: 6px;
  }
}

.session-details__controls {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

.session-details-controls__navbar-tabs {
  display: flex;
}

.session-details-controls__actions {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.session-details-controls__import-button {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
