.terms-of-service-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: $denim-gradient;
  align-items: center;
}

.terms-of-service-form {
  margin: auto;
  max-width: 800px;
  padding: 35px 0;
  justify-content: center;

  background-color: white;
  border-radius: 10px;

  &__logo {
    margin-bottom: 20px;

    & img {
      display: flex;
      margin: auto;
    }

  }

  &__title {
    margin-bottom: 30px;
    text-align: center;
    color: $nero;
    font-family: $roboto;
    font-size: 18px;
    font-weight: 300;
  }

  &__line {
    width: 100%;
    height: 1px;
    margin-bottom: 30px;
    border: none;
    background-color: $alto;
  }

  &__text {
    height: 400px;
    margin: 0 60px 20px;
    padding: 0 35px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: $open-sans;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 100px;
  }

  &__submit {
    margin-left: 10px;
  }

}
