.assessment-banner {
  display: flex;
  justify-content: center;
  height: 100px;
}

.assessment-banner__checkpoint {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.assessment-banner-container {
  display: flex;
  align-items: center;
  min-height: 80px;
  max-width: 990px;
  width: 100%;
  padding-right: 10px;

  @include device-is('desktop') {
    min-height: 100px;
    padding: 0;
  }
}

.assessment-banner__title {
  font-size: 1.4rem;
  font-family: $font-open-sans;

  @include device-is('desktop') {
    font-size: 1.75rem;
  }
}

.assessment-banner__title h1 {
  margin: 0;
  font-size: 1.4rem;
  font-weight: $font-light;

  @include device-is('desktop') {
    font-size: 2.4rem;
    font-weight: $font-normal;
  }
}

.assessment-banner__pix-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
}

.assessment-banner__pix-logo img {
  position: relative;
  top: 4px;
  right: -8px;
}

.assessment-banner__splitter {
  width: 1px;
  background: $mercury-grey;
  height: 40px;
  margin: 0 10px;

  @include device-is('desktop') {
    margin: 0 20px;
  }
}

.assessment-banner__home-link {
  font-family: $font-roboto;
  font-size: 1.3rem;
  font-weight: $font-normal;
  margin-left: auto;
  text-align: right;
  color: $white;
  width: 60px;

  @include device-is('desktop') {
    font-weight: $font-medium;
  }

  &:hover {
    color: $white;
  }
}
