.background-banner {
  width: 100%;
  height: 270px;
  background: $pix-blue-to-purple-gradient;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  color: $white;
}

.background-banner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
