.certification-course-page {

}

.certification-course-page__order {
  color: $charcoal-grey;
  font-family: $font-raleway;
  font-size: 2rem;
  line-height: 28px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.certification-course-page__cgu {
  color: $charcoal-grey;
  font-family: $font-lato;
  font-size: 1.2rem;
  line-height: 18px;
  text-align: justify;
  margin: 5px 30px 5px 30px;
}

.certification-course-page__session-code-input {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 20px;
  margin-bottom: 15px;
  align-items: center;
}

#session-code {
  padding-left: 5px;
  height: 45px;
  border-radius: 4px;
  border: 1px solid #6A6D76;
  width: 220px;
}

.certification-course-page__errors {
  color: $pure-orange;
  font-family: $font-lato;
  font-size: 1.4rem;
  text-align: center;
  margin: 5px 5px 5px 5px;
}

.certification-course-page__field-button {
  text-align: center;
}

.certification-course-page__submit_button {
  margin: 5px 5px 5px 5px;
}
