.certification-banner {
  display: flex;
  justify-content: center;
  height: 100px;
}

.certification-banner__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  max-width: 990px;
  width: 100%;
  padding: 18px 20px;

  @include device-is('desktop') {
    padding: 0;
    flex-direction: row;
  }
}

.certification-banner__user-fullname {
  color: $white;
  font-family: $font-raleway;
  font-size: 32px;
  font-weight: $font-semi-bold;
  line-height: 37px;
  text-transform: capitalize;
}

.certification-banner__certification-number {
  color: $white;
  font-family: $font-lato;
  font-size: 50px;
  font-weight: $font-semi-bold;
  line-height: 60px;
}
