.checkpoint__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-open-sans;
}

.checkpoint__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 35px;
  width: 80%;
  min-height: 50px;

  @include device-is('tablet') {
    width: 800px;
    margin-bottom: 50px;
  }
}

.checkpoint__content {
  margin: 0;
  max-width: 800px;
  padding: 22px 5px;

  @include device-is('tablet') {
    padding: 30px;
    width: 800px;
  }
}

.checkpoint-progression-gauge-wrapper {
  width: 100%;
  height: 4px;

  @include device-is('tablet') {
    width: 65%;
  }
}

.checkpoint-legend {
  font-size: 1.3rem;
  font-weight: $font-light;
  color: $white;
  margin: 6px 0;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.checkpoint__continue-wrapper {
  display: none;

  @include device-is('tablet') {
    display: flex;
  }
}

.checkpoint__continue {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  @include device-is('tablet') {
    justify-content: flex-end;
  }
}

.checkpoint__continue-button {
  padding: 0 10px;
  width: 300px;
  height: 50px;
  line-height: 50px;
  display: inline-block;

  @include device-is('tablet') {
    width: 230px;
  }

  & > svg {
    margin-left: 30px;
    padding-top: 6px;
    font-size: 1.5em;
    position: relative;
    left: 0;
    transition: all 0.25s ease-in-out;

    @include device-is('tablet') {
      margin-left: 6px;
    }
  }

  &:hover,
  &:focus,
  &:active {
    & > svg {
      left: 12px;
    }
  }
}

.checkpoint-no-answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__header {
    font-size: 4.2rem;
    line-height: 4.8rem;
    font-weight: $font-light;
    margin-bottom: 60px;
  }

  &__info {
    color: $dove-gray;
    font-size: 2.4rem;
    line-height: 3.3rem;
    font-weight: $font-light;
    margin-bottom: 60px;
    max-width: 100%;
  }
}
