.form-textfield {
  position: relative;
}

.form-textfield__label {
  font-family: $font-lato;
  font-size: 12px;
  font-weight: bold;
  color: $charcoal-grey;
  text-transform: uppercase;
}

.form-textfield__input-field-container {
  display: flex;
  height: 46px;
  border-radius: 3px;
  margin-bottom: 20px;
  align-items: center;
  border: 2px solid $alto-grey;
  background-color: $white;
  width: 100%;

  &:hover {
    border: 2px solid $dogder-blue;
  }

  @include device-is('desktop') {
    height: 50px;
  }
}

.form-textfield__input-container--default {
  border: 2px solid $alto-grey;
}

.form-textfield__input-container--error {
  border: 2px solid $pure-orange;
}

.form-textfield__input-container--success {
  border: 2px solid $caribbean-green;
}

.form-textfield__input-field-container input {
  height: 40px;
  flex-grow: 1;
  border: none;
  border-radius: 3px;
  outline: none;
  color: $slate-grey;
  padding: 0 10px;

  &:focus {
    outline: none;
  }

  &::-ms-clear, &::-ms-reveal {
    display: none;
  }
}


.form-textfield__message {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
}

.form-textfield__message--error {
  color: $pure-orange;
}

.form-textfield__message--success {
  color: $caribbean-green;
}

.form-textfield__message--error.form-textfield__message-password, .form-textfield__message--error.form-textfield__message-email, .form-textfield__message--error.form-textfield__message-text {
  position: relative;
  text-align: right;
  margin-top: -5px;
  margin-bottom: 5px;
}

.form-textfield__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;


}

.form-textfield-icon {
  &__button {
    display: flex;
    border: none;
    padding: 0;
    background: none;
    margin-right: 10px;

    &:focus {
      outline: 1px solid $pix-blue;
      box-shadow: 0 0 5px 0 rgba(61, 104, 255, 0.5);
    }
  }

  &__state {
    margin-right: 10px;
  }
}

.form-textfield-icon-button {
  &__eye {
    color: $dove-gray;
    transition: .5s;
    font-size: 1.8rem;
    margin-top: 1px;

    &:hover {
      color: $nero;
      cursor: pointer;
    }
  }
}

