.navbar-desktop-header {
  &__container {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
  }
}

.navbar-desktop-header-container {
  &__menu {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}

.navbar-desktop-header-menu {
  &__item {
    margin-left: 23.3px;
    margin-right: 23.3px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.6rem;
    font-family: $font-roboto;
    color: $gray;
    text-decoration: none;

    &.active {
      text-decoration: none;
      color: $dogder-blue;
      border-bottom: 2px solid $dogder-blue;
    }

    &:focus {
      text-decoration: none;
      color: $gray;
    }

    &:hover {
      text-decoration: none;
      cursor: pointer;
      color: $dogder-blue;
    }
  }
}

.navbar-desktop-header-right {
  display: flex;
  padding: 0;
  margin: 0;
}

/* Logo
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.navbar-desktop-header-logo {
  display: flex;
  position: relative;
  width: 220px;

  &__link {
    display: inline-block;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }

  &__marianne {
    float:right;
    margin-top: 5px;
    margin-left: 30px;
  }

  &__pix {
    float:left;
    margin-left: 5px;
  }
}
