.navbar-mobile-header {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    width: auto;
  }
}

.navbar-mobile-header {
  &__burger-icon {
    color: $black;
    font-size: 2.6rem;
    display: inline-flex;
  }

  &__logo {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
}

.navbar-mobile-header-logo {
  &__marianne {
    > img {
      width: 60px;
    }
  }
}

/* Pour faire en sorte que les pages entières et non réduites à leurs éléments */
.ember-burger-menu {
  height: 100vh;
}

/* Pour faire en sorte que les pages gardent le gris car sinon c'est blanc */
.ember-burger-menu > .bm-outlet > .bm-content {
  background-color: transparent;
}

/* Pour permettre à `resume-campaign-banner.hbs` de rester sticky sur les moteurs Chrome */
.ember-burger-menu > .bm-outlet {
  perspective: unset;
}
