.pix-logo {
  display: inline-block;
  position: relative;
  text-align: left;
}

.pix-logo__link {
  display: inline-block;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

.pix-logo__image {
  height: 80px;
}

.pix-logo__beta {
  color: $pix-yellow-hover;
  font-family: $font-lato;
  font-size: 12px;
  letter-spacing: 10px;
  font-weight: $font-heavy;
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  bottom: 0;
  left: 4px;
  height: 15px;
}
