.logged-user-details {
  width: 220px;
  margin-top: 0px;
  position: relative;
}

.logged-user-name__link {
  text-decoration: none;
  color: $charcoal-grey;
  cursor: pointer;

  &:hover,
  &:visited,
  &:focus,
  &:active {
    text-decoration: none;
    color: $charcoal-grey;
  }
}

.logged-user-name {
  font-family: $font-lato;
  font-size: 14px;
  font-weight: $font-bold;
  letter-spacing: 0.5px;
  text-align: right;
  color: $charcoal-grey;
  text-transform: capitalize;
  max-width: 150px;
  @include device-is('tablet') {
    max-width: none;
  }
}

.index-page-hero__navbar-header .logged-user-name__link {
  color: $white;
}

.caret {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: $charcoal-grey transparent transparent transparent;
}

.index-page-hero__navbar-header .caret {
  border-color: $white transparent transparent transparent;
}

.logged-user-menu {
  position: absolute;
  right: 0;
  top: 30px;
  z-index: 999;
}

.logged-user-menu__list {
  margin: 0px;
  padding: 0px;
  width: 290px;
  background-color: $white;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.3);
}

.logged-user-menu__item {
  margin: 2px auto;
  width: 288px;
  list-style: none;
  padding-left: 10px;

  @include device-is('tablet') {
    padding-left: 26px;
  }
}

.user-menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $porcelain-grey;
}

.user-menu-item__details-firstname {
  display:flex;
  font-family: $font-lato;
  font-size: 18px;
  letter-spacing: 1px;
  color: $charcoal-grey;
  text-transform: capitalize;
  margin-top: 10px;
}

.user-menu-item__details-email {
  display:flex;
  font-family: $font-lato;
  letter-spacing: 0.3px;
  color: $slate-grey;
  font-size: 14px;
  margin-bottom: 20px;
}

.user-menu-item__link {
  background-color: white;
  font-size: 13px;
  line-height: 16px;
  height: 35px;
}
.user-menu-item__link--first {
  margin-top:25px;
}

.user-menu-item__link a{
  color: $dove-gray;
  font-family: $font-lato;
  font-size: 13px;
}


.user-menu-item__logout {
  display: flex;
  align-items: center;
  height: 65px;
}

.logout__button {
  height: 36px;
  width: 150px;
}
