.assessment-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.assessment-results__assessment-banner {
  width: 100%;
}

.assessment-results__logo-banner {
  width: 100%;
  padding: 20px;
  padding-left: 12%;
  background-color: $white;
}

.assessment-results__scoring {
  width: 100%;
}

.assessment-results__content {
  max-width: 800px;
  width: 100%;
  padding: 30px;
  margin: 30px 15px;
  background: $white;
  border-radius: 10px;
  box-shadow: 0 7px 14px 0 rgba(12, 22, 58, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.1);

  @include device-is('desktop') {
    margin: 30px 0;
  }
}

/* Forces bootstrap's default by including bootstrap props into .assessment-results container */
.assessment-results .tooltip-inner {
  padding-top: 13px;
  width: auto;
  padding-left: 16px;
  padding-right: 16px;
  height: 48px;
  background-color: $mercury-grey;
  color: $charcoal-grey;
  font-family: $font-lato;
  font-size: 14px;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px $white;
}

.assessment-results .tooltip.top .tooltip-arrow {
  border-top-color: $mercury-grey;
}

.assessment-results .tooltip.in {
  opacity: 1;
  transition: opacity 1s ease;
}

.assessment-results .tooltip.top .tooltip-arrow {
  bottom: -4px;
  left: 50%;
  margin-left: -13px;
  border-width: 10px 13px 0;
}

/* XXX : See https://github.com/sgmap/pix/issues/211 */
.assessment-results [data-lines="2"] + div .tooltip-inner {
  padding-top: 3px;
}

/* Title
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.assessment-results__title {
  font-weight: $font-medium;
  font-family: $font-raleway;
  margin: 0 0 30px;
  text-transform: uppercase;
}

/* List of results
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.assessment-results__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  & > div {
    border: none;
    outline: none;
  }
}

/* Button 'go back'
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.assessment-results__index-link-container {
  display: flex;
  flex-direction: row-reverse;
}

.assessment-results__index-link__element {
  width: 275px;
  height: 46px;
  border-radius: 23px;
  background-color: $pix-blue;
  border: none;

}

.assessment-results__index-a-link {
  align-items: flex-start;
  text-align: center;
  padding-top: 10px;
}

.assessment-results__index-link__element:hover {
  background-color: $pix-blue-hover;
}

.assessment-results__link-back {
  width: 277px;
  height: 22px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: $font-semi-bold;
  text-align: center;
  font-family: $font-open-sans;
  color: $white;
}
