.campaign-tutorial {
  background: $pix-yellow-to-orange-gradient;
  width: 100%;
  height: 100vh;
  display: flex;

  &__container {
    margin: auto;
    max-width: 800px;
    max-height: 700px;
    padding: 30px 40px;

    @include device-is('tablet') {
      padding: 30px 10px;
      width: 800px;
      height: 600px;
      padding-top: 85px;
    }
  }

  &__title {
    color: $pix-blue;
    font-family: $font-open-sans;
    font-size: 2em;
    font-weight: 600;
    line-height: 40px;
    text-align: center;

    @include device-is('tablet') {
      font-size: 3em;
    }
  }

  &__explanation-icon {
    text-align: center;
    margin: 40px;
    height: 161px;
  }

  &__explanation-text {
    color: $nero;
    font-family: $font-open-sans;
    font-size: 1.8rem;
    text-align: center;
    white-space: pre-line;

    @include device-is('tablet') {
      font-size: 2rem;
    }
  }

  &__paging {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;

    @include device-is('tablet') {
      margin-top: 15px;
    }

    .dot {
      margin: 2px;
      height: 10px;
      width: 10px;
      background-color: $silver-grey;
      border-radius: 50%;
      display: inline-block;

      &__active {
        background-color: $pix-blue;
      }
    }
  }

  &__next-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
  }

  &__next-page-tutorial {
    margin: auto;
  }

  &__start-campaign-button {
    margin: auto auto 50px auto;
  }

  &__ignore-button {
    margin: 10px auto;
  }
}
