.campaign-landing-page__dash-line {
  border-top: 1px dashed $dove-gray;
  width: 85%;
  margin-top: 50px;
  margin-bottom: 50px;
}

/*------------------------ START ------------------------*/

.campaign-landing-page__container__start {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  padding-bottom: 40px;
}

.campaign-landing-page__start__image__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 25px;

  @include device-is('tablet') {
    flex-direction: row;
  }
}

.campaign-landing-page__pix-logo .campaign-landing-page__marianne-logo {
  flex-direction: row;
}

.campaign-landing-page__image {
  max-height: 80px;
  max-width: 300px;
}

.campaign-landing-page__start__text {
  width: 80%;
  margin: auto;
  padding: 5px;
  text-align: center;
  font-family: $font-open-sans;

  @include device-is('tablet') {
    padding: 5px 20px;
  }

  &__title {
    font-size: 3rem;
    font-weight: $font-light;

    @include device-is('tablet') {
      font-size: 4.8rem;
    }
  }

  &__announcement {
    font-size: 1.8rem;
  }

  &__legal {
    font-size: 1.2rem;
    color: $dove-gray;
  }
}

.campaign-landing-page__start__custom-text {
  width: 80%;
  margin: auto;
  padding: 5px;
  font-family: $font-open-sans;
  font-size: 1.6rem;
  text-align: left;

  strong {
    font-weight: $font-semi-bold;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }
}

.campaign-landing-page__start-button {
  margin: 30px 0;

  @include device-is('tablet') {
    margin: 30px;
  }
}

/*------------------------ DETAILS ------------------------*/

.campaign-landing-page__container__details {
  padding-bottom: 70px;
  padding-top: 60px;
}

.campaign-landing-page__details__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-open-sans;

  .title {
    font-size: 2.2rem;
    font-weight: $font-light;
    text-align: center;
  }

  .article-title {
    color: $nero;
    font-size: 2.4rem;
    font-weight: $font-semi-bold;
    line-height: 30px;
  }

  .article-list {
    color: $nero;
    font-size: 1.4rem;
    line-height: 22px;
  }

  .article-text {
    margin: auto;
    color: $nero;
    font-size: 16px;
    line-height: 24px;
  }

  .complement {
    width: 80%;
  }
}

.campaign-landing-page__details__line {
  box-sizing: border-box;
  width: 100px;
  border: 1px solid $pix-blue;
  border-radius: 5px;
  margin: 35px auto;
}

.campaign-landing-page__details__measure__container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  padding: 10px;

  @include device-is('tablet') {
    flex-direction: row;
  }
}

.campaign-landing-page__details__article-side {
  padding: 0 40px;
}

.campaign-landing-page__details__article-image {
  padding-bottom: 100px;
}

/*------------------------ ERROR ------------------------*/

.campaign-landing-page__error-text {
  display: flex;
  flex-direction: column;
  font-family: $font-open-sans;
  padding-bottom: 50px;

  .title {
    font-size: 2.2rem;
    font-weight: $font-light;
    text-align: center;
  }
}

.campaign-landing-page__error-button {
  margin: auto;
}
