.certification-start-page__panel {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-rendering: optimizeLegibility;

  @include device-is('desktop') {
    padding: 50px 70px 40px;
  }
}

.certification-start-page__title {
  color: $charcoal-grey;
  font-family: $font-raleway;
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 45px;
}
