.certification-error-page__panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
  padding: 20px;
  text-rendering: optimizeLegibility;

  @include device-is('desktop') {
    padding: 50px 70px 40px;
  }
}

.certification-error-page__button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.certification-error-page__title {
  font-family: $font-raleway;
  font-weight: $font-bold;
  text-align: center;
  font-size: 36px;
  line-height: 42px;
}

.certification-error-page__text {
  font-family: $font-raleway;
  text-align: left;
  font-size: 20px;
  line-height: 24px;
  margin-top: 58px;
}
