.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.error-page__body-section {
  width: 100%;

  @include device-is('desktop') {
    max-width: 980px;
  }
}

.error-page__main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;

  @include device-is('desktop') {
    padding: 80px 0;
  }

  p {
    text-align: left;
    @include device-is('desktop') {
      text-align: center;
    }
  }
}

.error-page-main-content__title {
  padding-bottom: 20px;
}

.error-page__index-link {
  margin-top: 20px;

  @include device-is('desktop') {
    margin-top: 40px;
  }
}
