.fill-in-id-pix__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 20px;
  padding-top: 10px;

  @include device-is('tablet') {
    margin-bottom: 25px;
    padding-bottom: 40px;
    padding-top: 80px;
  }
}

.fill-in-id-pix-text {
  padding: 5px;
  font-family: $font-open-sans;

  &__title {
    font-size: 3rem;
    font-weight: $font-bold;

    @include device-is('tablet') {
      font-size: 3.2rem;
    }
  }

  &__announcement {
    font-size: 1.8rem;
    margin-bottom: 40px;
  }
}

.fill-in-id-pix__form {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include device-is('tablet') {
    display: block;
  }
}

.fill-in-id-pix__form label {
  display: block;
  font-family: $font-lato;
  font-weight: $font-bold;
}

.fill-in-id-pix__form-field {
  display: inline-block;
  text-align: left;
}

.fill-in-id-pix__form-field input {
  border: solid 2px $alto-grey;
  border-radius: 3px;
  outline: none;
  width: 232px;
  height: 50px;
  margin-right: 5px;
}

.fill-in-id-pix__cancel-button {
  margin-top: 50px;
}

/*------------------------ ERROR ------------------------*/

.fill-in-id-pix__form__error-message {
  margin-top: 5px;
  font-size: 12px;
  color: red;
}
