<div class="login-form">

  <div>
    <img src="/pix-logo-certif.svg">
  </div>

  <div>

    <h1 class="form-title">Déjà utilisateur Pix ?</h1>

    <div class="login-form__information paragraph">
      Vous avez déjà un compte sur Pix.fr ? Vous pouvez utiliser ce compte pour rejoindre l'espace Pix Certif.
    </div>

    {{#if isErrorMessagePresent}}
      <div id="login-form-error-message" class="login-form__error-message error-message">
        L'adresse e-mail et/ou le mot de passe saisis sont incorrects.
      </div>
    {{/if}}

    <form {{action 'authenticate' on='submit'}}>

      <div class="login-form__input-container">
        <label for="login-email" class="label">E-mail</label>
        <Input
          @id="login-email"
          @name="email"
          @type="email"
          @class="input"
          @value={{email}}
          @autocomplete="username"
        />
      </div>

      <div class="login-form__input-container">
        <label for="login-password" class="label">Mot de passe</label>
        <div class="login-form__input-field">
          <Input
            @id="login-password"
            @name="password"
            @type={{passwordInputType}}
            @class="input"
            @value={{password}}
            @autocomplete="current-password"
          />
          <button type="button" aria-label="rendre le mot de passe lisible" class="login-form__icon" {{action 'togglePasswordVisibility'}} >
            {{#if isPasswordVisible}}
              <div tabindex="-1" onmousedown={{action 'togglePasswordVisibility'}}>{{fa-icon 'eye' class="fa-fw login-form-icon__eye"}}</div>
            {{else}}
              <div tabindex="-1" onmousedown={{action 'togglePasswordVisibility'}}>{{fa-icon 'eye-slash' class="fa-fw login-form-icon__eye"}}</div>
            {{/if}}
          </button>
        </div>
      </div>

      <div class="login-form__input-container">
        <button type="submit" class="button">Je me connecte</button>
      </div>

    </form>

    <div class="login-form__forgotten-password one-line-text">
      Vous avez oublié votre mot de passe ? Rendez-vous sur <a href="https://app.pix.fr/mot-de-passe-oublie" target="_blank">pix.fr</a> pour
      le réinitialiser.
    </div>

  </div>
</div>
